{% javascript_asset_tag global %}
- /_scripts/vendor/jquery-1.10.1.min.js
- /_scripts/jquery-ui-1.10.3.custom.min.js
- /_scripts/html5shiv.js
- /_scripts/icon-font-ie7.js
- /_scripts/jquery.placeholder.js
- /_scripts/jquery.stacktable.js
- /_scripts/jquery.tagsinput.js
- /_scripts/bootstrap.min.js
- /_scripts/bootstrap-select.js
- /_scripts/bootstrap-switch.js
- /_scripts/flatui-checkbox.js
- /_scripts/flatui-radio.js
- /_scripts/jquery.ui.touch-punch.min.js
- /_scripts/vendor/modernizr-2.6.2.min.js
- /_scripts/application.js
- /_scripts/main.js
{% endjavascript_asset_tag %}

